:root {
  --neutral-color-100: #ffffff;
  --neutral-color-90: #e8ebef;
  --neutral-color-60: #8f9db3;
  --neutral-color-50: #374151;

  --primary-color-90: #15ddff;
  --primary-color-50: #12aec8;
  --primary-color-30: #0b6b7b;
  --primary-color-10: #1c5f60;

  --secondary-color-90: #d5df3d;
  --secondary-color-50: #0b8535;
  --secondary-color-30: #065220;
  --secondary-color-10: #000502;

  --success-color-50: #198754;
  --info-color-50: #0dcaf0;
  --warning-color-50: #ffc107;
  --danger-color-50: #dc3545;

  --mobile-breakpoint: 768px;
}
