@import "~normalize.css";

@font-face {
  font-family: "GetSchwifty";
  src: url("/fonts/get_schwifty.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  color: var(--neutral-color-50);
  font-size: 16px;
  line-height: 24px;
  font-family: "Inter", "OpenSans", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;

  &,
  &::before,
  &::after {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
