@import "@/styles/1-settings";

.data-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .title {
    width: auto;
  }

  .-clickable {
    cursor: pointer;
  }

  .field {
    display: block;
    max-width: 120px;
    padding: 0.25rem 0.5rem;
    border: 1px solid $secondary-color-90;
    border-radius: 4px;

    &:disabled {
      cursor: not-allowed;
      background-color: $neutral-color-90;
      border-color: $neutral-color-80;
    }
  }
}
